@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
    --color-primary: #333333;
    --color-secondary: #1eaccc;
    --color-accent: #000000;
}

body,
html {
    scroll-behavior: smooth;
    scrollbar-color: var(--color-secondary) white;
    scrollbar-width: thin;
}

strong {
    color: var(--color-secondary);
}

.swiper-pagination {
    bottom: 20px !important;
}

.swiper-pagination-bullet {
    width: 10px !important;
    height: 10px !important;
    margin: 0 6px !important;
    background: white !important;
    opacity: 0.6 !important;
    transition: all 0.3s ease !important;
}

.swiper-pagination-bullet-active {
    width: 30px !important;
    border-radius: 5px !important;
    background: #1eaccc !important;
    opacity: 1 !important;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset !important;
    box-shadow: 0 0 0px 1000px white inset !important;
    -webkit-text-fill-color: #111827 !important;
    transition: background-color 5000s ease-in-out 0s;
}