---
// src/pages/[lang]/constructor/index.astro
import BaseLayout from "@/layouts/BaseLayout.astro";
import ConstructorPage from "../../../components/ConstructorPage.jsx";

export function getStaticPaths() {
    return [{ params: { lang: "es" } }, { params: { lang: "en" } }];
}

const { lang } = Astro.params;
---

<BaseLayout title="Constructor de Maqueta | VelyonSoft" lang={lang}>
    <div class="pt-2">
        <ConstructorPage client:only="react" />
    </div>
</BaseLayout>